# cmd vel robot movement velocity
- ros_topic_name: "/cmd_vel"
  gz_topic_name: "/scout/cmd_vel"
  ros_type_name: "geometry_msgs/msg/Twist"
  gz_type_name: "ignition.msgs.Twist"
  direction: BIDIRECTIONAL

# clock sync between gazebo and ros
- ros_topic_name: "/clock"
  gz_topic_name: "/clock"
  ros_type_name: "rosgraph_msgs/msg/Clock"
  gz_type_name: "ignition.msgs.Clock"
  direction: GZ_TO_ROS

# odometry
- ros_topic_name: "/odometry"
  gz_topic_name: "/scout/odometry"
  ros_type_name: "nav_msgs/msg/Odometry"
  gz_type_name: "ignition.msgs.Odometry"
  direction: GZ_TO_ROS

# scout pose tf
- ros_topic_name: "/tf"
  gz_topic_name: "/scout/tf"
  ros_type_name: "tf2_msgs/msg/TFMessage"
  gz_type_name: "ignition.msgs.Pose_V"
  direction: GZ_TO_ROS

# lidar 2d scan
- ros_topic_name: "/laser_scan"
  gz_topic_name: "/scout/laser_scan"
  ros_type_name: "sensor_msgs/msg/LaserScan"
  gz_type_name: "ignition.msgs.LaserScan"
  direction: GZ_TO_ROS

# lidar 3d pointcloud
- ros_topic_name: "/points"
  gz_topic_name: "/scout/pointcloud/points"
  ros_type_name: "sensor_msgs/msg/PointCloud2"
  gz_type_name: "ignition.msgs.PointCloudPacked"
  direction: GZ_TO_ROS
  
# joint positions (wheels rotation)
# default = world name
- ros_topic_name: "/scout/joint_states"
  gz_topic_name: "/world/default/model/scout_v2/joint_state"
  ros_type_name: "sensor_msgs/msg/JointState"
  gz_type_name: "ignition.msgs.Model"
  direction: GZ_TO_ROS

# tf static for any transforms that don't change
- ros_topic_name: "/tf_static"
  gz_topic_name: "/scout/tf_static"
  ros_type_name: "tf2_msgs/msg/TFMessage"
  gz_type_name: "ignition.msgs.Pose_V"
  direction: GZ_TO_ROS

# IMU
- ros_topic_name: "/imu"
  gz_topic_name: "/scout/imu"
  ros_type_name: "sensor_msgs/msg/Imu"
  gz_type_name: "ignition.msgs.IMU"
  direction: GZ_TO_ROS


